
/* 
Developer's Note: I will be switching to Atomic CSS after Homework One. 
I meant to do so earlier, but I got too deep and it would have cost me too much time. 
Please excuse my smelly code.
*/



/* global defaults */
html {
  font-family: "Inknut Antiqua", serif;
  font-size: 75%;
  line-height: 1.5;
}


/* header and navigation */
.header {
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7) 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; /*Fixed issue where portfolio pictures were scrolling over top of nav*/
}

.nav {
  display: flex;
  flex-grow: 1;
  font-size: xx-large;
  justify-content: flex-end;
}

.navButton {
  border-radius: 0 20px 0 10px;  /*created curved border effect*/
  color: rgb(0, 143, 143);
  display: flex;
  margin-right: 5%;
  padding: 6px 12px; /*fixed issues with flex box*/
  text-decoration: none;
}

.navButton:focus {
  background-color: rgba(1, 158, 158, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  transform: scale(0.95); /*button shrinks slighty on click */
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
}

.navButton:hover {
  background-color: rgb(0, 143, 143);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  transform: scale(1.05); /*button grows slighty on hover */
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}


/* images */
.aboutMeImage {
  background: linear-gradient(#ffffff,rgb(0, 92, 92) 100%);
  border-radius: 0% 2% 0% 4%; /* radius cheat sheet: top-left | top-right | bottom-right | bottom-left */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: block;
  float: left;
  height: 55%;
  margin: 1.5%;
  max-height: auto;
  max-width: 100%;
  padding: 15px;
  width: 40%;
}

.portfolioImage {
  max-height: 450px; /*locking height to fixed proportions*/
  max-width: 450px;
  min-height: 450px;
  min-width: 450px;
}

.portfolioImage:hover {
  border: 20px solid rgb(0, 92, 92);
  opacity: 0.5;
}

.portfolioImageLabel {
  background-color: rgb(0, 92, 92); 
  bottom: 10%;
  color: white;
  font-size: 20px ;
  justify-content: center;
  padding: 2%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.portfolioImageWrapper {
  display: inline-block;
  margin: 15px;
  position: relative;
}

.sectionImageLink{
  color: white;
  text-decoration: none;
}


/* content, links, and layout */
.body {
  background: linear-gradient(#ffffff, rgb(197, 255, 255) 100%);
  background-repeat: no-repeat; /*fixed issues with tiled background gradient*/
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}

.contactSectionParagraph {
  font-size: 200%; /*global font size override*/
  padding: 2%;
  text-indent: 5%;
}

.portfolioGrid {
  align-content: space-around;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sectionContent {
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}

.sectionMain {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 5%;
  padding: 5%;
}

.sectionLink {
  color: rgb(51, 51, 51);
}

.sectionLink:hover {
  background-color: rgb(0, 143, 143);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  text-decoration: none;
}

.sectionParagraph {
  font-size: 150%; /*global font size override*/
  padding: 2%;
  text-indent: 5%;
}


/* footer */
.footer {
  background-color: rgb(153, 182, 182);
  bottom: 0;
  height: 10%;
  text-align: center;
  width: 100%;
}

.footerText {
  font-size: x-small; /*global font size override*/
  text-align: center;
  padding: 1%;
}
