
/* 
Developer's Note: I will be switching to Atomic CSS after Homework One. 
I meant to do so earlier, but I got too deep and it would have cost me too much time. 
Please excuse my smelly code.
*/



/* global defaults */
html {
  font-family: "Inknut Antiqua", serif;
  font-size: 75%;
  line-height: 1.5;
}

/* header and navigation */
.header {
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7) 100%);
  /* background-color:white; */
  color: white;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 1%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navButton {
  border-radius: 0 20px 0 10px;  
  color: rgb(0, 143, 143);
  display: flex;
  margin-right: 5%;
  text-decoration: none;
  padding: 6px 12px;
}

.navButton:hover {
  background-color: rgb(0, 143, 143);
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.navButton:focus {
  background-color: rgba(1, 158, 158, 0.5);
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
}

.nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  font-size: xx-large;
}

.pageHeader {
  background-color: rgb(0, 92, 92);
  color: white;
  font-size: xx-large;
  text-indent: 1%;
  padding: 5px;
}

/* images */
.aboutMeImage {
  background: linear-gradient(#ffffff,rgb(0, 92, 92) 100%);
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0% 2% 0% 4%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: block;
  float: left;
  height: 55%;
  padding: 15px;
  max-height: auto;
  margin: 1.5%;
  max-width: 100%;
  width: 40%;
}

.portfolioImage {
  max-height: 450px;
  max-width: 450px;
  min-height: 450px;
  min-width: 450px;
}

.portfolioImageLabel {
  color: white;
  background-color: rgb(0, 92, 92); 
  bottom: 10%;
  position: absolute;
  font-size: 20px ;
  justify-content: center;
  text-align: center;
  padding: 2%;
  width: 100%;
}

.portfolioImageWrapper {
  position: relative;
  display: inline-block;
  margin: 15px;
}

.portfolioImage:hover {
  opacity: 0.5;
  border: 20px solid rgb(0, 92, 92);
}

.sectionImageLink{
  color: white;
  text-decoration: none;
}


/* content, links, and layout */
.body {
  background: linear-gradient(#ffffff, rgb(197, 255, 255) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}

.contactSectionParagraph {
  font-size: 200%;
  padding: 2%;
  text-indent: 5%;
}

.portfolioGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}


.sectionMain {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 5%;
  padding: 5%;
}

.sectionContent {
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;

}

.sectionLink {
  color: rgb(51, 51, 51);
}

.sectionLink:hover {
  background-color: rgb(0, 143, 143);
  color: white;
  text-decoration: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(.50);
  -webkit-transform: scale(.50);
  -moz-transform: scale(.50);
}

.sectionParagraph {
  font-size: 150%;
  padding: 2%;
  text-indent: 5%;
}

/* footer css */
.footer {
  background-color: rgb(153, 182, 182);
  height: 20px;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.disclaimer {
  font-size: x-small;
  text-align: center;
  padding-top: 0.5%;
}
